<h1>Listando resguardos</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No. Resguardo</th>
      <th>Concepto</th>
      <th>Marca</th>
      <th>No. Serie</th>
      <th>Ubicacion</th>
      <th>Estado</th>
      <th>Notas</th>
      <th>Prestado a</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resguardos.each do |resguardo| %>
      <tr>
        <td><%= resguardo.no_resguardo %></td>
        <td><%= resguardo.concepto %></td>
        <td><%= resguardo.marca %></td>
        <td><%= resguardo.no_serie %></td>
        <td><%= resguardo.ubicacion %></td>
        <td><%= resguardo.estado %></td>
        <td><%= resguardo.notas %></td>
        <td><%= resguardo.proveedor %></td>
        <td><%= link_to 'Mostrar', resguardo, :class => "btn btn-primary" %></td>
        <td><%= link_to 'Editar', edit_resguardo_path(resguardo), :class => "btn btn-info" %></td>
        <td><%= link_to 'Eliminar', resguardo, method: :delete, data: { confirm: 'Estas seguro?' } ,:class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Resguardo', new_resguardo_path , :class => "btn btn-primary btn-lg" %>
